# jupyter Notebook
.ipynb_checkpoints
jupyter_notebooks/*

# language models folder for evaluation
tasks/lm/*

# audio files
*.flac
*.wav

# datasets
tasks/datasets/*
tasks/pkl/*

# transformers
tasks/wav2vec2_base_model/*
tasks/saved_model/*
tasks/processor/*
tasks/ckpt/*
failed/*