# jupyter Notebook
.ipynb_checkpoints
jupyter_notebooks/*

# language models folder for evaluation
lm/*

# audio files
*.flac
*.wav

# datasets
datasets/*
pkl/*

# transformers
wav2vec2_base_model/*
saved_model/*
processor/*
ckpt/*
test_model/*
wav2vec2_large_xlsr_53_english/*
wav2vec2_base_10k_voxpopuli_ft_en/*
