# jupyter Notebook
.ipynb_checkpoints
jupyter_notebooks/*

# language models folder for evaluation
tasks/preprocessing/lm/*

# audio files
*.flac
*.wav

# datasets
tasks/preprocessing/datasets/*
tasks/preprocessing/root/pkl/*

# transformers
tasks/preprocessing/root/wavlm/*
tasks/preprocessing/root/magister_v2/*
tasks/preprocessing/root_base_model/*
tasks/preprocessing/lm_src/*

failed/*
kenlm/*